<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<title></title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="import" href="kyoto-bus.html">

	<style>
		body { font-family: sans-serif; }
	</style>
</head>
<body fullbleed>

	<kyoto-bus number="17"  destination="四条河原町・京都駅"   timetableurl="http://www.city.kyoto.jp/kotsu/busdia/hyperdia/075022.htm"></kyoto-bus>
	<kyoto-bus number="3"   destination="四条河原町・松尾橋"   timetableurl="http://www.city.kyoto.jp/kotsu/busdia/hyperdia/075021.htm"></kyoto-bus>
	<kyoto-bus number="201" destination="千本今出川・四条大宮" timetableurl="http://www.city.kyoto.jp/kotsu/busdia/hyperdia/075023.htm"></kyoto-bus>
	

</body>
</html>
